<header class='container-fluid'>
  <nav class='row'>
    <p class=''><img src='../assets/images/sportwars_logo.svg' alt='sport wars logo'>Sportwars</p>
    <ul class=''>
      <li>Lobby</li>
      <div class='dropdown'>
        <button class='btn btn-default dropdown-toggle' type='button' id='dropdownMenu1'
        data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
          {{ user }}
          <span class='caret'></span>
        </button>
        <ul class='dropdown-menu' aria-labelledby='dropdownMenu1'>
          <li><a href='#'>Action</a></li>
          <li><a href='#'>Another action</a></li>
          <li><a href='#'>Something else here</a></li>
          <li class='dropdown-header'>Separated header</li>
          <li><a href='#' ng-click='authObj.$unAuth()'>Logout</a></li>
        </ul>
      </div>
    </ul>
  </nav>
</header>
<main>
  <section class='row'>
    <div class='row'>
      <div>
        <h5></h5>
        <h3></h3>
      </div>
      <div>
        <h5></h5>
        <h3></h3>
      </div>
      <div>
        <h5></h5>
        <h3></h3>
      </div>
      <div>
        <h5></h5>
        <h3></h3>
      </div>
    </div>
    <div class='row'>
      <div>
        <h5></h5>
        <h3></h3>
      </div>
      <div>
        <h5></h5>
        <h3></h3>
      </div>
      <div>
        <h5></h5>
        <h3></h3>
      </div>
      <div>
        <h5></h5>
        <h3></h3>
      </div>
    </div>
  </section>
  <section class='row'>
    <h3>Participants</h3>
    <div>
      <h4></h4>
    </div>
  </section>
  <div class='row'>
    <section>
      <h3></h3>
      <div>
        <p><strong></strong><p>
      </div>
      <div>
        <form>
          <input type='text' name='userMessage' />
        </form>
      </div>
    </section>
    <section>
      <h2>Download our mobile app to play on the go</h2>
      <p>Available on the app store</p>
      <p>Android app on Google play</p>
    </section>
  </div>
  <section class='row'>
    <span>Featured Game</span>
    <h2>$300K CBB Survive the Madness</h2>
    <p><a href='#'>Play Now</a></p>
  </section>
</main>
