<header>
  <div class="alert alert-danger alert-dismissible" role="alert" ng-show='show'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    Authentication with Facebook failed. Try logging in again.
  </div>
  <div class='container-fluid'>
    <nav class='row'>
      <p class='col-xs-3'><a href='/' class='logo'>Sportwars</a></p>
      <ul class='col-xs-3 col-xs-offset-6 text-right'>
        <li><a href='#' ng-click='loginFacebook()'>Login with Facebook</a></li>
      </ul>
    </nav>
  </div>
  <section class='jumbotron'>
    <div class="container-fluid">
      <h1 class='col-xs-12 text-center'>Put your sports knowledge to work</h1>
      <h3 class='col-xs-12 text-center'>Hard work. Hard cash. <span>Daily.</span></h3>
      <button class='col-xs-4 col-xs-offset-4 text-center playnow'><a href='#' ng-click='loginFacebook()'>Play Now</a></button>
    </div>
  </section>
</header>
<main class='container-fluid'>
  <section class='row desc'>
    <img src='../assets/images/batflip.jpg' alt='Jose Bautista Bat Flip' class='img-responsive col-xs-5'>
    <div class='col-xs-7'>
      <h2>Play when, where, and what you want</h2>
      <p>
        With new fantasy contests every day, you can play whenever you want to without the worry of
        having to keep up with your team for longer than a day. We offer every major sport so there
        will be no shortage of variety.
      </p>
    </div>
  </section>
  <section class='row process'>
    <div class='col-xs-4 text-center'>
      <img src='../assets/images/signup.png' alt='signup' class='img-responsive center-block'>
      <h2>Sign up for free</h2>
      <p>
        Sign up for a SportWars account for free
      </p>
    </div>
    <div class='col-xs-4 text-center'>
      <img src='../assets/images/entercontest.png' alt='enter a contest' class='img-responsive center-block'>
      <h2>Enter a contest</h2>
      <p>
        Choose from a variety of contests to enter
      </p>
    </div>
    <div class='col-xs-4 text-center'>
      <img src='../assets/images/wincash.png' alt='win real cash' class='img-responsive center-block'>
      <h2>Win real cash</h2>
      <p>
        Pick a team to compete with and win real cash
      </p>
    </div>
  </section>
  <section class='row featured'>
    <div class='col-xs-6 row'>
      <span class='col-xs-12'>&#9733; Featured Game</span>
      <h2 class='col-xs-12'>$300K CBB Survive the Madness</h2>
    </div>
    <button class='col-xs-4 col-xs-offset-2 playnow'><a href='#' ng-click='loginFacebook()'>Play Now</a></button>
  </section>
</main>
